@using Microsoft.AspNetCore.Identity;
@using QienUrenMachien.Entities;
@inject UserManager<ApplicationUser> userManager;

@model QienUrenMachien.Models.UsersViewModel
@{
	ViewData["Title"] = "Admin Dashboard";
}
<div class="text-center">
	<h1 class="display-4">Overzicht Gebruikers</h1>
	<p>Overzicht van alle accounts.</p>
</div>

<form asp-controller="Administration" asp-action="AdminDashboard" id="searchUsers">
	<p>
		Zoek: <input name="SearchString" type="text" style="border-radius: 5px; background-color: #e6e6e6; border: none;" />
	</p>
</form>

<div class="text-center">
	<h2>Trainees</h2>
</div>

<table class="sortableTable" data-sorting="true" style="width:100%;">
	<thead>
		<tr>
			<th style="text-align: left;">Naam</th>
			<th style="text-align: left;">Mail</th>
			<th style="text-align: left;" data-sortable="false"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var role in Model.Trainees.Where(u => u.ActiveUntil > DateTime.Now))
		{
			<tr>
				<td style="text-align: left; margin: 0px;"><img id="profilepictureInList" src="@Url.Content((userManager.Users.Single(u => u.Id == role.Id)).ProfileImageUrl)">@role.Firstname @role.Lastname</td>
				<td style="text-align: left; margin: 0px;">@role.UserName</td>
				<td style="text-align: left; margin: 0px;">@Html.ActionLink("Bekijk", "ViewUser", "Administration", new { Id = role.Id }, null)</td>
			</tr>
		}
	</tbody>
</table>

<br />
<div class="text-center">
	<h2>Werknemers</h2>
</div>

<table class="sortableTable" data-sorting="true" style="width:100%;">
	<thead>
		<tr>
			<th style="text-align: left;">Naam</th>
			<th style="text-align: left;">Mail</th>
			<th style="text-align: left;" data-sortable="false"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var role in Model.Employees.Where(u => u.ActiveUntil > DateTime.Now))
		{
			<tr>
				<td style="text-align: left;"><img id="profilepictureInList" src="@Url.Content((userManager.Users.Single(u => u.Id == role.Id)).ProfileImageUrl)">@role.Firstname @role.Lastname</td>
				<td style="text-align: left;">@role.UserName</td>
				<td style="text-align: left;">@Html.ActionLink("Bekijk", "ViewUser", "Administration", new { Id = role.Id }, null)</td>
			</tr>
		}
	</tbody>
</table>

<br />
<br />
<br />
<br />
<br />
<br />

<div class="text-center">
	<h2>Gedeactiveerde Gebruikers</h2>
</div>

<div class="text-center">
	<h4>Trainees</h4>
</div>

<table class="sortableTable" data-sorting="true" style="width:100%;">
	<thead>
		<tr>
			<th style="text-align: left;">Naam</th>
			<th style="text-align: left;">Mail</th>
			<th style="text-align: left;">Actief tot</th>
			<th style="text-align: left;" data-sortable="false"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var role in Model.Trainees.Where(u => u.ActiveUntil < DateTime.Now))
		{
			<tr>
				<td style="text-align: left;"><img id="profilepictureInList" src="@Url.Content((userManager.Users.Single(u => u.Id == role.Id)).ProfileImageUrl)">@role.Firstname @role.Lastname</td>
				<td style="text-align: left;">@role.UserName</td>
				<td style="text-align: left;">@role.ActiveUntil.ToString("dd/MM/yyyy")</td>
				<td style="text-align: left;">@Html.ActionLink("Bekijk", "ViewUser", "Administration", new { Id = role.Id }, null)</td>
			</tr>
		}
	</tbody>
</table>

<br />
<div class="text-center">
	<h4>Werknemers</h4>
</div>

<table class="sortableTable" data-sorting="true" style="width:100%;">
	<thead>
		<tr>
			<th style="text-align: left;">Naam</th>
			<th style="text-align: left;">Mail</th>
			<th style="text-align: left;">Actief tot</th>
			<th style="text-align: left;" data-sortable="false"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var role in Model.Employees.Where(u => u.ActiveUntil < DateTime.Now))
		{
			<tr>
				<td style="text-align: left;"><img id="profilepictureInList" src="@Url.Content((userManager.Users.Single(u => u.Id == role.Id)).ProfileImageUrl)">@role.Firstname @role.Lastname</td>
				<td style="text-align: left;">@role.UserName</td>
				<td style="text-align: left;">@role.ActiveUntil.ToString("dd/MM/yyyy")</td>
				<td style="text-align: left;">@Html.ActionLink("Bekijk", "ViewUser", "Administration", new { Id = role.Id }, null)</td>
			</tr>
		}
	</tbody>
</table>