@model QienUrenMachien.Models.TimeSheetViewModel
@using Microsoft.AspNetCore.Identity;
@using QienUrenMachien.Entities;
@using QienUrenMachien.Translation;
@inject UserManager<ApplicationUser> userManager;
@{
	ViewData["Title"] = "Urenformulier";
	var user = userManager.FindByIdAsync(Model.Id);
}

<h1 style="text-align: center;">Urenformulier van @user.Result.UserName</h1>

<table style="width:100%;">
	<tr>
		<th>Gebruiker</th>
		<th>Maand</th>
		<th>Jaar</th>
		<th>Projecturen</th>
		<th>Overwerk</th>
		<th>Ziek</th>
		<th>Afwezig</th>
		<th>Training</th>
		<th>Overig</th>
		<th>Ingeleverd</th>
		<th>Goedgekeurd</th>
	</tr>
	<tr>
		<td>@user.Result.Firstname</td>
		<td>@Translator.TranslateMonth(Model.Month)</td>
		<td>@Model.theDate.Year</td>
		<td>@Model.ProjectHours</td>
		<td>@Model.Overwork</td>
		<td>@Model.Sick</td>
		<td>@Model.Absence</td>
		<td>@Model.Training</td>
		<td>@Model.Other</td>
		@if (@Model.Submitted)
		{
			<td data-toggle="tooltip" title="Ingeleverd" data-placement="right"><img src="~/Uploads/Images/check-circle-solid.svg" width="20" height="20" /></td>
		}
		@if (!@Model.Submitted)
		{
			<td data-toggle="tooltip" title="Niet ingeleverd" data-placement="right"><img src="~/Uploads/Images/times-circle-solid.svg" width="20" height="20" /></td>
		}
		@if ((@Model.Approved == "Not submitted" || @Model.Approved == "Not Submitted") && Model.Submitted)
		{
			<td data-toggle="tooltip" title="In afwachting" data-placement="right"><img src="~/Uploads/Images/minus-circle-solid.svg" width="20" height="20" /></td>
		}
		@if ((@Model.Approved == "Not submitted" || @Model.Approved == "Not Submitted") && !Model.Submitted)
		{
			<td></td>
		}
		@if (@Model.Approved == "Rejected")
		{
			<td data-toggle="tooltip" title="Afgewezen" data-placement="right"><img src="~/Uploads/Images/times-circle-solid.svg" width="20" height="20" /></td>
		}
		@if (@Model.Approved == "Approved")
		{
			<td data-toggle="tooltip" title="Goedgekeurd" data-placement="right"><img src="~/Uploads/Images/check-circle-solid.svg" width="20" height="20" /></td>
		}
	</tr>
</table>

