@model QienUrenMachien.Models.TimeSheetsViewModel
@{
	ViewBag.Title = "TimeSheetOverview";
	double totaalProjecturen = 0;
	double totaalOverwerk = 0;
	double totaalZiek = 0;
	double totaalAfwezig = 0;
	double totaalTraining = 0;
	double totaalOverige = 0;

	double totaalProjecturen2 = 0;
	double totaalOverwerk2 = 0;
	double totaalZiek2 = 0;
	double totaalAfwezig2 = 0;
	double totaalTraining2 = 0;
	double totaalOverige2 = 0;

}

<div class="text-center">
	<h1 class="display-4">Timesheet overzicht</h1>
	<p>De timesheet-statuses van trainees en werknemers.</p>
</div>

@foreach (var sheet in Model.Trainees)
{
	totaalProjecturen += sheet.ProjectHours;
	totaalOverwerk += sheet.Overwork;
	totaalZiek += sheet.Sick;
	totaalAfwezig += sheet.Absence;
	totaalTraining += sheet.Training;
	totaalOverige += sheet.Other;
}

@foreach (var sheet in Model.Employees)
{
	totaalProjecturen2 += sheet.ProjectHours;
	totaalOverwerk2 += sheet.Overwork;
	totaalZiek2 += sheet.Sick;
	totaalAfwezig2 += sheet.Absence;
	totaalTraining2 += sheet.Training;
	totaalOverige2 += sheet.Other;
}

<h2>Trainees urentotaal van deze maand:</h2>
<table style="width:100%;">
	<tr>
		<th>Projecturen</th>
		<th>Overwerk</th>
		<th>Ziek</th>
		<th>Afwezig</th>
		<th>Training</th>
		<th>Overige</th>
	</tr>
	<tr>
		<td>@totaalProjecturen</td>
		<td>@totaalOverwerk</td>
		<td>@totaalZiek</td>
		<td>@totaalAfwezig</td>
		<td>@totaalTraining</td>
		<td>@totaalOverige</td>
	</tr>
</table>

<h2>Werknemers urentotaal van deze maand:</h2>
<table style="width:100%;">
	<tr>
		<th>Projecturen</th>
		<th>Overwerk</th>
		<th>Ziek</th>
		<th>Afwezig</th>
		<th>Training</th>
		<th>Overige</th>
	</tr>
	<tr>
		<td>@totaalProjecturen2</td>
		<td>@totaalOverwerk2</td>
		<td>@totaalZiek2</td>
		<td>@totaalAfwezig2</td>
		<td>@totaalTraining2</td>
		<td>@totaalOverige2</td>
	</tr>
</table>

<br />
<form asp-controller="Administration" asp-action="TimeSheetOverview" id="searchForm" method="post">
	<h4>Maand:</h4>
	<select class="form-control" asp-for="Month" asp-items="Model.Months" selected="selected" onchange="$('#searchForm').submit();">
	</select>
	<h4>Jaar:</h4>
	<select class="form-control" asp-for="theDate" asp-items="Model.Years" selected="selected" onchange="$('#searchForm').submit();">
	</select>
</form>

<br />
<div class="text-center">
	<h2>Trainees</h2>
</div>


<table class="sortableTable" data-sorting="true" style="width:100%;">
	<thead>
	<tr>
		<th>Naam</th>
		<th data-sorted="true" data-type="number" data-direction="DESC">Projecturen</th>
		<th data-type="number">Overwerk</th>
		<th data-type="number">Ziek</th>
		<th data-type="number">Afwezig</th>
		<th data-type="number">Training</th>
		<th data-type="number">Overige</th>
		<th>Ingeleverd</th>
		<th>Goedgekeurd</th>
		<th data-sortable="false"></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var sheet in Model.Trainees)
	{
		var url = sheet.Url;
<tr>
	<td>@Html.ActionLink(@sheet.applicationUser.Firstname + @sheet.applicationUser.Lastname, "ViewUser", "Administration", new { Id = sheet.applicationUser.Id }, null)</td>
	<td>@sheet.ProjectHours</td>
	<td>@sheet.Overwork</td>
	<td>@sheet.Sick</td>
	<td>@sheet.Absence</td>
	<td>@sheet.Training</td>
	<td>@sheet.Other</td>
	@if (@sheet.Submitted)
	{
	<td data-toggle="tooltip" title="Ingeleverd" data-placement="right"><img src="~/Uploads/Images/check-circle-solid.svg" width="20" height="20" /></td>
	}
	@if (!@sheet.Submitted)
	{
	<td data-toggle="tooltip" title="Niet ingeleverd" data-placement="right"><img src="~/Uploads/Images/times-circle-solid.svg" width="20" height="20" /></td>
	}
	@if ((@sheet.Approved == "Not submitted" || @sheet.Approved == "Not Submitted") && sheet.Submitted)
	{
	<td data-toggle="tooltip" title="In afwachting" data-placement="right"><img src="~/Uploads/Images/minus-circle-solid.svg" width="20" height="20" /></td>
	}
	@if ((@sheet.Approved == "Not submitted" || @sheet.Approved == "Not Submitted") && !sheet.Submitted)
	{
		<td></td>
	}
	@if (@sheet.Approved == "Rejected")
	{
	<td data-toggle="tooltip" title="Afgewezen" data-placement="right"><img src="~/Uploads/Images/times-circle-solid.svg" width="20" height="20" /></td>
	}
	@if (@sheet.Approved == "Approved")
	{
	<td data-toggle="tooltip" title="Goedgekeurd" data-placement="right"><img src="~/Uploads/Images/check-circle-solid.svg" width="20" height="20" /></td>
	}

	<td><a asp-controller="Sheet" asp-action="AdminViewSheet" asp-route-url="@url">Bekijk</a></td>

</tr>
}
	</tbody>
</table>

<br />
<div class="text-center">
	<h2>Werknemers</h2>
</div>

<table class="sortableTable" data-sorting="true" style="width:100%;">
	<thead>
		<tr>
			<th>Naam</th>
			<th data-sorted="true" data-type="number" data-direction="DESC">Projecturen</th>
			<th data-type="number">Overwerk</th>
			<th data-type="number">Ziek</th>
			<th data-type="number">Afwezig</th>
			<th data-type="number">Training</th>
			<th data-type="number">Overige</th>
			<th>Ingeleverd</th>
			<th>Goedgekeurd</th>
			<th data-sortable="false"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var sheet in Model.Employees)
		{
		var url = sheet.Url;
		<tr>
			<td>@Html.ActionLink(@sheet.applicationUser.Firstname + @sheet.applicationUser.Lastname, "ViewUser", "Administration", new { Id = sheet.applicationUser.Id }, null)</td>
			<td>@sheet.ProjectHours</td>
			<td>@sheet.Overwork</td>
			<td>@sheet.Sick</td>
			<td>@sheet.Absence</td>
			<td>@sheet.Training</td>
			<td>@sheet.Other</td>
			@if (@sheet.Submitted)
			{
				<td data-toggle="tooltip" title="Ingeleverd" data-placement="right"><img src="~/Uploads/Images/check-circle-solid.svg" width="20" height="20" /></td>
			}
			@if (!@sheet.Submitted)
			{
				<td data-toggle="tooltip" title="Niet ingeleverd" data-placement="right"><img src="~/Uploads/Images/times-circle-solid.svg" width="20" height="20" /></td>
			}
			@if ((@sheet.Approved == "Not submitted" || @sheet.Approved == "Not Submitted") && sheet.Submitted)
			{
				<td data-toggle="tooltip" title="In afwachting" data-placement="right"><img src="~/Uploads/Images/minus-circle-solid.svg" width="20" height="20" /></td>
			}
			@if ((@sheet.Approved == "Not submitted" || @sheet.Approved == "Not Submitted") && !sheet.Submitted)
			{
				<td></td>
			}
			@if (@sheet.Approved == "Rejected")
			{
				<td data-toggle="tooltip" title="Afgewezen" data-placement="right"><img src="~/Uploads/Images/times-circle-solid.svg" width="20" height="20" /></td>
			}
			@if (@sheet.Approved == "Approved")
			{
				<td data-toggle="tooltip" title="Goedgekeurd" data-placement="right"><img src="~/Uploads/Images/check-circle-solid.svg" width="20" height="20" /></td>
			}

			<td><a asp-controller="Sheet" asp-action="AdminViewSheet" asp-route-url="@url">Bekijk</a></td>

		</tr>
		}
	</tbody>
</table>

<script src="~/js/timesheetOverview.js"></script>