@model QienUrenMachien.Models.TimeSheetsViewModel
@{
	ViewBag.Title = "TimeSheetOverview";
	double totaalProjecturen = 0;
	double totaalOverwerk = 0;
	double totaalZiek = 0;
	double totaalAfwezig = 0;
	double totaalTraining = 0;
	double totaalOverige = 0;

	double totaalProjecturen2 = 0;
	double totaalOverwerk2 = 0;
	double totaalZiek2 = 0;
	double totaalAfwezig2 = 0;
	double totaalTraining2 = 0;
	double totaalOverige2 = 0;

}
<div class="text-center">
	<h1 class="display-4">Timesheet overzicht</h1>
	<p>De timesheet-statuses van trainees en werknemers.</p>
</div>

@foreach (var sheet in Model.Trainees)
{
	totaalProjecturen += sheet.ProjectHours;
	totaalOverwerk += sheet.Overwork;
	totaalZiek += sheet.Sick;
	totaalAfwezig += sheet.Absence;
	totaalTraining += sheet.Training;
	totaalOverige += sheet.Other;
}

@foreach (var sheet in Model.Employees)
{
	totaalProjecturen2 += sheet.ProjectHours;
	totaalOverwerk2 += sheet.Overwork;
	totaalZiek2 += sheet.Sick;
	totaalAfwezig2 += sheet.Absence;
	totaalTraining2 += sheet.Training;
	totaalOverige2 += sheet.Other;
}

<h2>Trainees urentotaal van deze maand:</h2>
<table style="width:100%;">
	<tr>
		<th>Projecturen</th>
		<th>Overwerk</th>
		<th>Ziek</th>
		<th>Afwezig</th>
		<th>Training</th>
		<th>Overige</th>
	</tr>
	<tr>
		<td>@totaalProjecturen</td>
		<td>@totaalOverwerk</td>
		<td>@totaalZiek</td>
		<td>@totaalAfwezig</td>
		<td>@totaalTraining</td>
		<td>@totaalOverige</td>
	</tr>
</table>

<h2>Werknemers urentotaal van deze maand:</h2>
<table style="width:100%;">
	<tr>
		<th>Projecturen</th>
		<th>Overwerk</th>
		<th>Ziek</th>
		<th>Afwezig</th>
		<th>Training</th>
		<th>Overige</th>
	</tr>
	<tr>
		<td>@totaalProjecturen2</td>
		<td>@totaalOverwerk2</td>
		<td>@totaalZiek2</td>
		<td>@totaalAfwezig2</td>
		<td>@totaalTraining2</td>
		<td>@totaalOverige2</td>
	</tr>
</table>

<h2>Maand: @Model.Month</h2>
<form asp-controller="Administration" asp-action="TimeSheetOverview" id="searchForm" method="post">
	<select class="form-control" asp-for="Month" asp-items="Model.Months" selected="selected" onchange="$('#searchForm').submit();">
	</select>
	<h2>Jaar: @Model.theDate.ToString("yyyy")</h2>
	<select class="form-control" asp-for="theDate" asp-items="Model.Years" selected="selected" onchange="$('#searchForm').submit();">
	</select>
</form>

<div class="text-center">
	<h2>Trainees</h2>
</div>


<table style="width:100%;">
	<tr>
		<th>Gebruiker</th>
		<th>Ingeleverd</th>
		<th>Goedgekeurd</th>
		<th>Toon urenformulier</th>
	</tr>
	@foreach (var sheet in Model.Trainees)
	{

		var details = new Dictionary<string, string>
{
		{ "Id", sheet.Id },
		{ "SheetID", sheet.SheetID.ToString() }
	};
<tr>
	<td>@sheet.applicationUser.UserName</td>
	<td>@sheet.Submitted</td>
	<td>@sheet.Approved</td>
	<td><a asp-controller="Administration" asp-action="ShowUserTimeSheet" asp-all-route-data="details">Bekijk</a></td>
</tr>
}
</table>


<div class="text-center">
	<h2>Werknemers</h2>
</div>

<table style="width:100%;">
	<tr>
		<th>Gebruiker</th>
		<th>Ingeleverd</th>
		<th>Goedgekeurd</th>
		<th>Toon urenformulier</th>
	</tr>
	@foreach (var sheet in Model.Employees)
	{

		var details = new Dictionary<string, string>
{
		{ "Id", sheet.Id },
		{ "SheetID", sheet.SheetID.ToString() }
	};
<tr>
	<td>@sheet.applicationUser.UserName</td>
	<td>@sheet.Submitted</td>
	<td>@sheet.Approved</td>
	<td><a asp-controller="Administration" asp-action="ShowUserTimeSheet" asp-all-route-data="details">Bekijk</a></td>
</tr>
}
</table>

