@model QienUrenMachien.Models.TimeSheetsViewModel
@{
	ViewBag.Title = "TimeSheetOverview";
}
<div class="text-center">
	<h1 class="display-4">Timesheet overzicht</h1>
	<p>De timesheet-statuses van trainees en werknemers.</p>
</div>

<h2>Maand: @Model.Month</h2>
<form asp-controller="Administration" asp-action="TimeSheetOverview" method="post">
	<select class="form-control" asp-for="Month" asp-items="Model.Months" selected="selected">
	</select>
	<input class="btn btn-default" style="" type="submit" value="Kies"/>
</form>

<div class="text-center">
	<h2>Trainees</h2>
</div>


<table style="width:100%;">
	<tr>
		<th>GebruikerID</th>
		<th>Ingeleverd</th>
		<th>Goedgekeurd</th>
		<th>Toon urenformulier</th>
	</tr>
	@foreach (var sheet in Model.Trainees)
	{

	var details = new Dictionary<string, string>
	{
		{ "Id", sheet.Id },
		{ "Month", sheet.Month }
	};
<tr>
	<td>@sheet.Id</td>
	<td>@sheet.Submitted</td>
	<td>@sheet.Approved</td>
	<td><a asp-controller="Administration" asp-action="ShowUserTimeSheet" asp-all-route-data="details">Bekijk</a></td>
</tr>
}
</table>


<div class="text-center">
	<h2>Werknemers</h2>
</div>

<table style="width:100%;">
	<tr>
		<th>GebruikerID</th>
		<th>Ingeleverd</th>
		<th>Goedgekeurd</th>
		<th>Toon urenformulier</th>
	</tr>
	@foreach (var sheet in Model.Employees)
	{

	var details = new Dictionary<string, string>
	{
		{ "Id", sheet.Id },
		{ "Month", sheet.Month }
	};
<tr>
	<td>@sheet.Id</td>
	<td>@sheet.Submitted</td>
	<td>@sheet.Approved</td>
	<td><a asp-controller="Administration" asp-action="ShowUserTimeSheet" asp-all-route-data="details">Bekijk</a></td>
</tr>
}
</table>

