@using Microsoft.AspNetCore.Identity;
@using QienUrenMachien.Entities;
@inject UserManager<ApplicationUser> userManager;

@model QienUrenMachien.Models.UserViewModel
@{
	ViewData["Title"] = "Bekijk werkgever";

	var werknemers = new List<ApplicationUser>();
	@if (userManager.Users.Where(u => u.WerkgeverID == Model.theUser.Id) != null)
	{
		werknemers = userManager.Users.Where(u => u.WerkgeverID == Model.theUser.Id).ToList();
	}
}

<div class="text-center">
	<h1 class="display-4">Bekijk werkgever</h1>
	<p>Overzicht van informatie over werkgever.</p>
</div>

<table style="width:100%;">
	<tr>
		<th>Mail</th>
		<th>Contactpersoon</th>
		<th>Bedrijfsnaam</th>
		<th>Plaats</th>
		<th>Straat</th>
		<th>Telefoon</th>
		<th>Actief vanaf</th>
		<th>Actief tot</th>
		@if (Model.theUser.ActiveUntil > DateTime.Now)
		{
			<th>'Actief tot' aanpassen</th>
		}
	</tr>
	<tr>
		<td>@Model.theUser.UserName</td>
		<td>@Model.theUser.Firstname</td>
		<td>@Model.theUser.Lastname</td>
		<td>@Model.theUser.City</td>
		<td>@Model.theUser.Street</td>
		<td>@Model.theUser.PhoneNumber</td>
		<td>@Model.theUser.ActiveFrom.ToString("dd/MM/yyyy")</td>
		<td>@Model.theUser.ActiveUntil.ToString("dd/MM/yyyy")</td>
		@if (Model.theUser.ActiveUntil > DateTime.Now)
		{
			<td>
				<form method="post" id="activeForm2" runat="server" asp-controller="Administration" asp-action="DeactivateEmployer" asp-route-id="@Model.theUser.Id">
					<input asp-for="ActiveUntilParam" class="form-control" onchange="if (confirm('Weet je het zeker? De gebruiker zal op de gekozen datum inactief worden. Wanneer deze datum is verstreken kan dit niet meer ongedaan worden gemaakt.')) { $('#activeForm2').submit(); }" value=@DateTime.Now />
					<span asp-validation-for="ActiveUntilParam" class="text-danger"></span>
				</form>
			</td>
		}
	</tr>
</table>

<br />

<table style="width:100%;">
	<tr>
		<th>Werknemers</th>
	</tr>
	@if (userManager.Users.Where(u => u.WerkgeverID == Model.theUser.Id).Count() >= 1)
	{
		@foreach (var person in werknemers)
		{
			<tr>
				<td>@Html.ActionLink(@person.Firstname + " " +  @person.Lastname, "ViewUser", "Administration", new { Id = person.Id }, null)</td>
			</tr>
		}
	}
	else
	{
		<tr>
			<td>Deze werkgever heeft geen huidige Qien-werknemers.</td>
		</tr>
	}
</table>
