@model QienUrenMachien.Entities.ApplicationUser
@{
	ViewData["Title"] = "Bekijk werkgever";
}

<div class="text-center">
	<h1 class="display-4">Bekijk werkgever</h1>
	<p>Overzicht van informatie over werkgever.</p>
</div>

<table style="width:100%;">
	<tr>
		<th>Mail</th>
		<th>Contactpersoon</th>
		<th>Bedrijfsnaam</th>
		<th>Plaats</th>
		<th>Straat</th>
		<th>Telefoon</th>
	</tr>
	<tr>
		<td>@Model.UserName</td>
		<td>@Model.Firstname</td>
		<td>@Model.Lastname</td>
		<td>@Model.City</td>
		<td>@Model.Street</td>
		<td>@Model.PhoneNumber</td>
	</tr>
</table>
