@using Microsoft.AspNetCore.Identity;
@using QienUrenMachien.Entities;
@inject UserManager<ApplicationUser> userManager;

@model QienUrenMachien.Entities.ApplicationUser
@{
	ViewData["Title"] = "Bekijk werkgever";

	var werknemers = new List<ApplicationUser>();
	@if (userManager.Users.Where(u => u.WerkgeverID == Model.Id) != null)
	{
		werknemers = userManager.Users.Where(u => u.WerkgeverID == Model.Id).ToList();
	}
}

<div class="text-center">
	<h1 class="display-4">Bekijk werkgever</h1>
	<p>Overzicht van informatie over werkgever.</p>
</div>

<table style="width:100%;">
	<tr>
		<th>Mail</th>
		<th>Contactpersoon</th>
		<th>Bedrijfsnaam</th>
		<th>Plaats</th>
		<th>Straat</th>
		<th>Telefoon</th>
		<th>Actief vanaf</th>
		<th>Actief tot</th>
		@if (Model.ActiveUntil > DateTime.Now)
		{
			<th></th>
		}
	</tr>
	<tr>
		<td>@Model.UserName</td>
		<td>@Model.Firstname</td>
		<td>@Model.Lastname</td>
		<td>@Model.City</td>
		<td>@Model.Street</td>
		<td>@Model.PhoneNumber</td>
		<td>@Model.ActiveFrom.ToString("dd/MM/yyyy")</td>
		<td>@Model.ActiveUntil.ToString("dd/MM/yyyy")</td>
		@if (Model.ActiveUntil > DateTime.Now)
		{
			<td><a style="color: red; text-decoration: none;" asp-action="DeactivateEmployer" asp-controller="Administration" asp-route-id="@Model.Id" onclick="return confirm('Weet je zeker dat je deze werkgever wilt deactiveren? Dit kan niet meer ongedaan worden gemaakt.')">Deactiveer</a></td>
		}
	</tr>
</table>

<br />

<table style="width:100%;">
	<tr>
		<th>Werknemers</th>
	</tr>
	@if (userManager.Users.Where(u => u.WerkgeverID == Model.Id).Count() >= 1)
	{
		@foreach (var person in werknemers)
		{
			<tr>
				<td>@Html.ActionLink(@person.Firstname + " " +  @person.Lastname, "ViewUser", "Administration", new { Id = person.Id }, null)</td>
			</tr>
		}
	}
	else
	{
		<tr>
			<td>Deze werkgever heeft geen huidige Qien-werknemers.</td>
		</tr>
	}
</table>
