@model QienUrenMachien.Entities.ApplicationUser
@{
	ViewData["Title"] = "Bekijk gebruiker";
}

<div class="text-center">
	<h1 class="display-4">Bekijk gebruiker</h1>
	<p>Overzicht van gebruikerinformatie.</p>
</div>

<table style="width:100%;">
	<tr>
		<th>Gebruikersnaam</th>
		<th>Voornaam</th>
		<th>Achternaam</th>
		<th>Woonplaats</th>
		<th>Straat</th>
		<th>Telefoon</th>
		<th>ID</th>
	</tr>
	<tr>
		<td>@Model.UserName</td>
		<td>@Model.Firstname</td>
		<td>@Model.Lastname</td>
		<td>@Model.City</td>
		<td>@Model.Street</td>
		<td>@Model.PhoneNumber</td>
		<td>@Model.Id</td>
	</tr>
</table>
