@using Microsoft.AspNetCore.Identity;
@using QienUrenMachien.Entities;
@inject UserManager<ApplicationUser> userManager;

@model QienUrenMachien.Models.UserViewModel
@{
	ViewData["Title"] = "Bekijk gebruiker";
	var werkgevernaam = "";
	var werkgevernaam2 = "";
	@if (Model.theUser.WerkgeverID != "" && Model.theUser.WerkgeverID != null)
	{
		werkgevernaam = userManager.Users.Single(u => u.Id == Model.theUser.WerkgeverID).Firstname;
		werkgevernaam2 = userManager.Users.Single(u => u.Id == Model.theUser.WerkgeverID).Lastname;
	}
}

	<div class="text-center">
		<h1 class="display-4">Bekijk gebruiker</h1>
		<p>Overzicht van gebruikerinformatie.</p>
	</div>

	<table style="width:100%;">
		<tr>
			<th>Mail</th>
			<th>Voornaam</th>
			<th>Achternaam</th>
			<th>Woonplaats</th>
			<th>Straat</th>
			<th>Telefoon</th>
			<th>Actief vanaf</th>
			<th>Actief tot</th>
			<th></th>
			@if (Model.theUser.WerkgeverID != "" && Model.theUser.WerkgeverID != null)
			{
				<th>Werkgever</th>
			}
			@if (Model.theUser.ActiveUntil > DateTime.Now)
			{
				<th>'Actief tot' aanpassen</th>
			}
			</tr>
		<tr>
			<td>@Model.theUser.UserName</td>
			<td>@Model.theUser.Firstname</td>
			<td>@Model.theUser.Lastname</td>
			<td>@Model.theUser.City</td>
			<td>@Model.theUser.Street</td>
			<td>@Model.theUser.PhoneNumber</td>
			<td>@Model.theUser.ActiveFrom.ToString("dd/MM/yyyy")</td>
			<td>@Model.theUser.ActiveUntil.ToString("dd/MM/yyyy")</td>
			<td>@Html.ActionLink("documenten", "viewuserfiles", "upload", new { userId = Model.theUser.Id })</td>
			@if (Model.theUser.WerkgeverID != "" && Model.theUser.WerkgeverID != "87f665fa-366a-43d9-a3b7-4c59c91bd818" && Model.theUser.WerkgeverID != null)
			{
				<td>@Html.ActionLink(werkgevernaam + " (Bedrijf: " + werkgevernaam2 + ")", "ViewEmployer", "Administration", new { Id = Model.theUser.WerkgeverID }, null)</td>
			}
			else
			{
				<td>Geen (HR at Qien)</td>
			}
			@if (Model.theUser.ActiveUntil > DateTime.Now)
			{
				@*<td><a style="color: red; text-decoration: none;" asp-action="DeactivateUser" asp-controller="Administration" asp-route-id="@Model.theUser.Id" onclick="return confirm('Weet je zeker dat je deze gebruiker wilt deactiveren? Dit kan niet meer ongedaan worden gemaakt.')">Deactiveer</a></td>*@
				<td>
					<form method="post" id="activeForm" runat="server">
						<input asp-for="ActiveUntilParam" class="form-control" onchange="$('#activeForm').submit();" value=@Model.ActiveUntilParam />
						<span asp-validation-for="ActiveUntilParam" class="text-danger"></span>
					</form>
				</td>
			}
		</tr>
	</table>
