@using QienUrenMachien.Models
@model List<ActivityLogViewModel>

<table id="ActivityTable" style="width:100%;">
    <tr><th>Laatste activiteiten</th><th></th></tr>
    <tr>
        @*<th>LogId</th>
        <th>Id</th>
        <th>Activity</th>*@
        <th>Comment</th>
        <th>Timestamp</th>

    </tr>
    @foreach (var i in Model)
    {


        <tr>
            @*<td>@i.LogId</td>
            <td>@i.Id</td>
            <td>@i.Activity</td>*@
            <td>@i.Comment</td>
            <td>@i.Timestamp</td>
        </tr>
    }
</table>


@*<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/activity.js"></script>*@