@using Microsoft.AspNetCore.Identity;
@using QienUrenMachien.Entities;
@using QienUrenMachien.Models
@model DashboardViewModel
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;

@{
    ViewData["Title"] = "Home Page";
}

	<div class="text-center">
		<h1 class="display-4">Admin Dashboard</h1>
	</div>

    <div class="text-center">
        <img src="https://pbs.twimg.com/profile_images/3054512762/ad69660aa12e6a8f5608f48e0e8eaa42_400x400.png" alt="Qien-logo" id="Qien-logo" height="100" width="100" class="img-fluid-" />
    </div>

@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
	<canvas id="line-chart" width="800" height="300"></canvas>

    <nav class="navbar navbar-expand navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

				<ul class="navbar-nav flex-xl-grow-1">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="AdminDashboard">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListRoles">Rollen</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="TimeSheetOverview">Urenformulieren</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="RegisterUser">Gebruiker aanmaken</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Overzicht">Profielverzoeken</a>
					</li>
				</ul>


                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </div>
    </nav>

    <table class="col-md-6" id="ActivityTable" style="width:60%; float: left;">
        @*<tr><th>Laatste activiteiten</th><th></th></tr>*@
        <tr>
            @*<th>LogId</th>
            <th>Id</th>
            <th>Activity</th>*@
            <th>Comment</th>
            <th>Timestamp</th>

        </tr>
        @foreach (var i in Model.activityLogViewModels)
        {


            <tr>
                @*<td>@i.LogId</td>
                <td>@i.Id</td>
                <td>@i.Activity</td>*@
                <td>@i.Comment</td>
                <td>@i.Timestamp</td>
            </tr>
        }
    </table>
    
        <table style="width:40%; height:30%; float: right;">
            <tr>
                <th>Werknemer</th>
                <th>Status Timesheet</th>

            </tr>
            @foreach (var row in Model.timeSheetWithUsers)
            {
                <tr>
                    <td>@(row.FirstName + " " + row.LastName)</td>
                    <td>@row.Status</td>
                    <td><a asp-route-url="@row.url">Bekijk</a></td>
                </tr>
            }
        </table>


}

