@model QienUrenMachien.Models.TimeSheet

@using (Html.BeginForm("AddSheet", "Sheet"))
{

    @Html.LabelFor(m => m.Project)
    @Html.TextBoxFor(m => m.Project)

    @Html.LabelFor(m => m.Month)
    @Html.TextBoxFor(m => m.Month)

    @Html.LabelFor(m => m.ProjectHours)
    @Html.TextBoxFor(m => m.ProjectHours)

    @Html.LabelFor(m => m.Overwork)
    @Html.TextBoxFor(m => m.Overwork)

    @Html.LabelFor(m => m.Sick)
    @Html.TextBoxFor(m => m.Sick)

    @Html.LabelFor(m => m.Absence)
    @Html.TextBoxFor(m => m.Absence)

    @Html.LabelFor(m => m.Training)
    @Html.TextBoxFor(m => m.Training)

    @Html.LabelFor(m => m.Other)
    @Html.TextBoxFor(m => m.Other)

    @Html.HiddenFor(m => m.Data)

    <button type="submit">Add</button>
}
