@{var theYear = 2019; }

<h3>Kies een maand van @theYear</h3>

@Html.ActionLink("January", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 1 })
<br />
@Html.ActionLink("February", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 2 })
<br />
@Html.ActionLink("March", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 3 })
<br />
@Html.ActionLink("April", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 4 })
<br />
@Html.ActionLink("May", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 5 })
<br />
@Html.ActionLink("June", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 6 })
<br />
@Html.ActionLink("July", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 7 })
<br />
@Html.ActionLink("August", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 8 })
<br />
@Html.ActionLink("September", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 9 })
<br />
@Html.ActionLink("October", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 10 })
<br />
@Html.ActionLink("November", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 11 })
<br />
@Html.ActionLink("December", "UserTimeSheet", "Sheet", new { Year = theYear, Month = 11 })
