
@model List<QienUrenMachien.Entities.TimeSheet>
@{
    ViewBag.Title = "TimeSheetOverview";
}
<div class="text-center">
    <h1 class="display-4">User Dashboard</h1>
    <p>Overzicht van jouw timesheet-statuses.</p>
</div>

<div class="text-center">
	<img src="https://pbs.twimg.com/profile_images/3054512762/ad69660aa12e6a8f5608f48e0e8eaa42_400x400.png" alt="Qien-logo" id="Qien-logo" height="100" width="100" class="img-fluid-" />
</div>

<table style="width:100%;">
    <tr>
        <th>Opdracht</th>
        <th>Maand</th>
        <th>Ingeleverd</th>
        <th>Goedgekeurd</th>
        <th>Toon urenformulier</th>
    </tr>
    @foreach (var sheet in Model)
    {

        var url = sheet.Url;
<tr>
    <td>@sheet.Project</td>
    <td>@sheet.Month</td>
    <td>@sheet.Submitted</td>
    <td>@sheet.Approved</td>
    <td><a asp-controller="Sheet" asp-action="UserTimeSheet" asp-route-url="@url">Bekijk</a></td>
</tr>
}
</table>

