
@model List<Day>
@{List<TimeSheet> sheets = ViewBag.Test;
}


<div>
    <table>
        <tr>
            <th>Datum</th>
            <th>Opdracht</th>
            <th>Overwerk</th>
            <th>Verlof</th>
            <th>Ziek</th>
            <th>Training</th>
            <th>Overig</th>
            <th>Verklaring m.b.t. overig</th>
        </tr>


        @foreach (var d in Model)
        {
            <tr>
                <td>@d.date.ToString("dd/MM/yyyy")</td>
                    <td>@d.Project</td>
                    <td>@d.Overwork</td>
                    <td>@d.Absence</td>
                    <td>@d.Sick</td>
                    <td>@d.Training</td>
                    <td>@d.Other</td>
            </tr>
        
        }

    </table>
</div>
