
@model List<Day>
    <div>
        @using (Html.BeginForm("AddSheet", "Sheet",new {Year = ViewBag.Year, Month = ViewBag.Month }))
        {
            <table>
                <tr>
                    <th>Datum</th>
                    <th>Opdracht</th>
                    <th>Opdracht Uren</th>
                    <th>Overwerk</th>
                    <th>Verlof</th>
                    <th>Ziek</th>
                    <th>Training</th>
                    <th>Overig</th>
                    <th>Verklaring m.b.t. overig</th>
                </tr>

                @*@foreach (var d in Model)
                {
                    <tr>
                        <td>@d.date.ToString("dd/MM/yyyy")</td>
                        <td>@d.Project</td>
                        <td>@d.ProjectHours</td>
                        <td>@d.Overwork</td>
                        <td>@d.Absence</td>
                        <td>@d.Sick</td>
                        <td>@d.Training</td>
                        <td>@d.Other</td>
                        <td>@d.OtherExplanation</td>
                    </tr>

                }*@

                @foreach (var d in Model)
                {
                    <tr>
                        <td>@d.date.ToString("dd/MM/yyyy")</td>
                        <td>@Html.EditorFor(m => d.Project)</td>
                        <td>@Html.EditorFor(m => d.ProjectHours)</td>
                        <td>@Html.EditorFor(m => d.Overwork)</td>
                        <td>@Html.EditorFor(m => d.Absence)</td>
                        <td>@Html.EditorFor(m => d.Sick)</td>
                        <td>@Html.EditorFor(m => d.Training)</td>
                        <td>@Html.EditorFor(m => d.Other)</td>
                        <td>@Html.EditorFor(m => d.OtherExplanation)</td>
                    </tr>

                }
                <tr>
                    <td></td>
                    <td><b>Totaal uren:</b></td>
                    <td>@Model.Sum(d => d.ProjectHours)</td>
                    <td>@Model.Sum(d => d.Overwork)</td>
                    <td>@Model.Sum(d => d.Absence)</td>
                    <td>@Model.Sum(d => d.Sick)</td>
                    <td>@Model.Sum(d => d.Training)</td>
                    <td>@Model.Sum(d => d.Other)</td>
                </tr>
            </table>

            <button type="submit">Verzend</button>
        }
    </div>
