
@using Newtonsoft.Json.Linq;
@model TimeSheetViewModel
@{
    ViewData["Title"] = "Urenformulier";
    int x = 1;
    int y = 0;
}

<h1>Urenformulier van gebruiker</h1>

<p hidden id="SheetID">@Model.SheetID</p>


<table style="width:100%;">
    <tr>
        <th>Project</th>
        <th>Maand</th>
        <th>Projecturen</th>
        <th>Overwerk</th>
        <th>Ziek</th>
        <th>Afwezig</th>
        <th>Training</th>
        <th>Overige</th>
        <th>Ingeleverd</th>
        <th>Goedgekeurd</th>
    </tr>
    <tr>
        <td>@Model.Project</td>
        <td>@Model.Month</td>
        <td>@Model.ProjectHours</td>
        <td>@Model.Overwork</td>
        <td>@Model.Sick</td>
        <td>@Model.Absence</td>
        <td>@Model.Training</td>
        <td>@Model.Other</td>
        <td>@Model.Submitted</td>
        <td>@Model.Approved</td>
    </tr>
</table>
<br />


<table id="TimeSheetTable" style="width:100%;">
    <tr>
        <th>Dag</th>
        <th>Projecturen</th>
        <th>Overwerk</th>
        <th>Ziek</th>
        <th>Afwezig</th>
        <th>Training</th>
        <th>Overige</th>
    </tr>

    @if (Model.Submitted == true)
    {
        @foreach (var day in JObject.Parse(Model.Data))
        {
            <tr>
                <td>@day.Key</td>
                <td>@day.Value["projecthours"]</td>
                <td>@day.Value["overwork"]</td>
                <td>@day.Value["sick"]</td>
                <td>@day.Value["absence"]</td>
                <td>@day.Value["training"]</td>
                <td>@day.Value["other"]</td>
            </tr>
        }
    }
    else
    {



        @foreach (var day in JObject.Parse(Model.Data))
        {
            <tr>
                <td>@day.Key</td>
                <td><input type="text" class="form-control" value="@day.Value["projecthours"]" id="@x@y"></td>
                <td><input type="text" class="form-control" value="@day.Value["overwork"]" id="@x@(y+1)"></td>
                <td><input type="text" class="form-control" value="@day.Value["sick"]" id="@x@(y+2)"></td>
                <td><input type="text" class="form-control" value="@day.Value["absence"]" id="@x@(y+3)"></td>
                <td><input type="text" class="form-control" value="@day.Value["training"]" id="@x@(y+4)"></td>
                <td><input type="text" class="form-control" value="@day.Value["other"]" id="@x@(y+5)"></td>
            </tr>
            x++;
        }
    }

</table>
<br />
<label asp-for="Comment"></label>
<textarea asp-for="Comment" class="form-control" text-wrap:normal" type="text" placeholder="Voeg commentaar toe"></textarea>




